
  @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
/* font */
* {
    margin: 0;
    padding: 0;
}

body {
    /* opacity: 0;
    transform: translateY(20px); */
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 50px;
    color: #91726c;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    letter-spacing: 5px; 

}
h6 {
    font-size: 1.3rem;
    color: antiquewhite;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    padding-bottom: 3px;
    letter-spacing: 3px;
    
}
h6.MENU {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

}


/* 架構 */
.container {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../image/背景1.png);
    background-size: cover;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* 內容區塊 黑線範圍 */
.content-area {
    /* position: absolute; */
    position: relative;
    display: flex; 
    /* flex: 1; */
    width: 1100px;
    height: 680px;
    /* padding: 30px; */
    /* outline: solid 1px black; */
    /* align-items: center; */
    /* align-items: end; */
    /* justify-content: center; */
    

}
/* 左邊標題區塊 */
.title {
    /* position: absolute; */
    position: relative;
    width: 150px;
    height: auto;
    display: flex;
    /* text-align: bottom; */
    /* vertical-align: bottom; */
    align-items: center;
    /* outline: solid 1px black; */
    writing-mode: vertical-lr;
    

}
.logo {
    width: 100px;
    height: auto;
    /* margin: 10px; */

}
.logo_title {
    width: 120px;
    height: auto;
    margin: 0;
}


/* btn */
.btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    outline: solid 1px black;
    background-color: #fff;
}

.btn_hamburger{
    border-radius: 0px;
    margin: 0px;
    width: 150px;
    height: 35px;
    background-color: #421111;
    color: #fff;


}

/* 右邊選單區塊 */
.menu {
    width: 180px;
    height: 680px;
    /* outline: solid 1px black; */
    display: inline;
    /* align-items: center; */
    justify-content: center;
    
}
.menu_iconarea{

    margin-top: 20px;
    margin-bottom: 0;
    height: 33px;
    width: 180px;
    display: flex;
    align-items: center;
    background-image: url(../image/卷軸.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    
    

}
.menu_window{
    height: 550px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    outline: solid 0px;
    margin: 0;

}
.menu_windowcontent {
    background-image: url(../image/卷軸中間.png);
    background-size: cover;
    background-position: center center;
    padding: 20px 0px;
    margin: 0 15px;
    width: 150px;
    height: 300px;
    /* outline: solid 1px blue; */
    display: none;
    /* transition: all 5s ease-in; */
} 




.menubottomrect {
    /* position: absolute; */
    width: 180px;
    margin: 0;
    top: 20px;
    height: 33px;
    /* background-color: rgba(236, 233, 217,1); */
    background-image: url(../image/卷軸.png);
    background-size: contain;
    background-repeat: no-repeat;

   

}

.menu_onclick {


}

/* 選單選項 網頁連結*/
.pagelink{
    /* height: 40px;
    width: 120px; */

    font-size: 20px;
    line-height: 60px;
    /* outline: solid 1px red; */
    text-align: center;
    overflow: hidden;
    /* display: none; */

}


/* 連結還要另外寫js控制當在哪個頁面時，要保持被選取的樣式 */
a:link {
    width: 50px;
    /* 設定還沒瀏覽過的連結樣式 */
    font-size: 1rem;
    color: #91726c;
    
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    /* letter-spacing: 1px;  */

    text-decoration: none;
}
a:visited {
    /* 設定已經瀏覽過(懸浮過)的連結樣式 */
    
    color: #91726c; 
    text-decoration: underline #91726c solid;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.5px;
    
}
a:hover {
    /* 設定滑鼠移到連結上的樣式 */
    color: #553d38; 
    text-decoration: underline #91726c solid;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.5px;
}
a:active {
    /* 設定正在被點選的連結樣式 */
    color: #553d38; 
    text-decoration: underline solid;
    text-underline-offset: 8px;
    text-decoration-thickness: 0.5px;
}







/* 四季區塊 */
.maincontent {
    /* position: absolute; */
    position: relative;
    width: 800px;
    height: 680px;
    display: flex;
    /* outline: solid 3px red; */
    align-items: center;
    justify-content: center;
    
    

}


/* 便當盒 */
.lunchbox-area {
    /* position: absolute; */
    position: relative; /*為了使用flex,父容器要設posr，才能用置中語法*/
    display: flex;
    width: 700px;
    height: 599px;
    /* outline: solid 1px black; */
    /* background-color: #805a3e; */
    align-items: center;
    /* justify-content: center; */
    flex-direction: column; 

}
.topseason {
    position: relative;
    width: 100%;
    height: 47%;
    display: flex;
    background-image: url(../image/盒子木紋.png);
    background-size: cover;
    justify-content: space-evenly;
    align-items: end;
    padding: 0 1%;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;

}
.downseason {
    width: 100%;
    height: 47%;
    display: flex;
    background-image: url(../image/盒子木紋.png);
    background-size: cover;
    justify-content: space-evenly;
    align-items: start;
    padding: 0 1%;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;

}
.spring {
    position: relative;
    scale: 98%;
    flex: 1;
    

}
#spring {
    
}
.spring:hover {
    /* margin-top: -10px; */
    transition:all 0.5s;
    
    scale: 95%;
}





.fall {
    position: relative;
    scale: 98%;
    flex: 1;
    

}
.fall:hover {
    /* margin-top: -10px; */
    transition:all 0.5s;
    
    scale: 95%;
}



.summer{
    /* width: 96%;
    height: 44%;
    margin-top: 1%;
    margin-bottom: 2%; */
    position: relative;
    scale: 98%;
    flex: 1;
    

}
.summer:hover {
    /* margin-top: -10px; */
    transition:all 0.5s;
    scale: 95%;
    
    
}




.winter {
    position: relative;
    flex: 1;
    scale: 98%;

}
.winter:hover {
    /* margin-top: -10px; */
    transition:all 0.5s;
    /* opacity: 80%; */
    /* background-color: #b196ef; */
    /* filter: drop-shadow(5px 10px 5px rgba(171, 76, 76, 0.5)); */
    /* filter: brightness(80%); */
    scale: 95%;
}




/* 便當盒底部那條繪圖 */
.lunchbox-bottom {
    width: 700px;
    height: 3%;
    margin-top: 1%;
    /* outline: solid 1px blue; */
    background-image: url(../image/盒子木紋.png);
    background-size: cover;
    border-radius: 8px;


}


/* 動畫 */
.fade-in {
    opacity: 1; /* 透明度从 1 变为 0，实现淡出效果 */
    transform: translateY(0px); /* 同时向上平移一点，增加动画效果 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 过渡属性和时长 */
}
.fade-out {
    opacity: 0; /* 透明度从 1 变为 0，实现淡出效果 */
    transform: translateY(20px); /* 同时向上平移一点，增加动画效果 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 过渡属性和时长 */
}


/* doors */


.doors {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background-color: #e6b884; */
    background-image: url(../image/背景1.png);
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.door {
    width: 50vw;
    height: 100vh;
    /* background-color: #ffd7aa; */
    background-image: url(../image/門.png);
    background-size: cover;
    background-position: center center;
    /* background-image: url(../image/背景1.png);
    background-size: cover;
    background-position: center center; */
    /* outline: solid 1px #000; */
    border-left:solid 1px #421111;
    border-right:solid 1px #421111;
    border-top: none;
    border-bottom: none;
}
.door.right {
    background-image: url(../image/門2.png);
}

.insidedoors {
    height: 100vh;
    width: 100vw;
    position: absolute;
    /* background-color: #fff; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.history {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.table {
    width: 100px;
    height: 100px;
    background-color: #421111;
    /* top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; */
}
.temproom {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../image/和室.jpg);
    background-size: cover;
    background-position: center center;
    display: block;

}
.gap {
    position: absolute;
    /* height: 50vh; */
    width: 40%;
    /* display: none; */
    opacity: 0;
    top: 0;
    left: 0;
    margin-top: 5%;
    margin-left: 30%;
}
.gradient {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: #e6b884; */
    background-image: url(../image/背景1reverse.png);
    background-size: cover;
    background-position: center center;
    /* background:linear-gradient(to bottom, #e6b884 0%, transparent 100%); */
}
